<!------------------------------------------------------------------------
# Author : payletter
# Desc   : 메뉴역할 View
# Date   : 2020.01.21
#------------------------------------------------------------------------>

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<th:block layout:fragment="content">
    <!-- Main content -->
    <section class="content">
        <div class="box">
            <div class="box-header">
                <i class="fa fa-chevron-circle-right"></i>
                <h3 class="box-title" th:text="#{'common.label.viewResults'}">조회 결과</h3>
            </div>
            <input id="hidMenuRoleNo" name="menuRoleNo" type="hidden" value=""/>
            <input id="hidAddList" name="strAddList" type="hidden" value=""/>
            <input id="hidRemoveList" name="strRemoveList" type="hidden" value=""/>
            <input id="hidAllList" name="strAllList" type="hidden" value=""/>
            <input id="hidReadList" name="strReadList" type="hidden" value=""/>
            <div class="box-body">
                <table class="table table-bordered table-striped table-width100" id="tbMenuRole">
                    <thead>
                    <tr>
                        <th th:text="#{'menuRoleMgmt.accessAuthName'}">접근 권한 명</th>
                        <th th:text="#{'common.label.adminID'}">관리자 아이디</th>
                        <th th:text="#{'common.label.availability'}">사용 여부</th>
                        <th th:text="#{'common.label.regDate'}">등록 일시</th>
                        <th th:text="#{'common.label.updDate'}">수정 일시</th>
                        <th th:text="#{'common.label.work'}">작업</th>
                    </tr>
                    </thead>
                </table>
                <div th:style="${#request.getAttribute('authCode')} == 1 ? '' : 'display: none'" class="panel panel-default auth-all">
                    <div class="panel-heading">
                        <button id="btnRegistMenuRole" type='button' class='btn btn-primary btn-sm' data-toggle='modal' data-target='#divEditMenuRole'><i class='fa fa-plus'></i></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->

    <!-- BEGIN EDIT MODAL AREA -->
    <div class="modal fade" id="divEditMenuRole" data-backdrop="static" style="overflow-y: auto;">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title" id="myModalInsertMenuRole">
                        <i class="fa fa-pencil">&nbsp;</i>
                        <th:block th:text="#{'menuRoleMgmt.insMenuRole'}">메뉴 역할 등록</th:block>
                    </h5>
                    <h5 class="modal-title" id="myModalUpdateMenuRole" style="display: none;">
                        <i class="fa fa-pencil">&nbsp;</i>
                        <th:block th:text="#{'menuRoleMgmt.updMenuRole'}">메뉴 역할 수정</th:block>
                    </h5>
                </div>
                <div class="modal-body">
                    <form id="frmEditMenuRole" name="frmEditMenuRole">
                        <div class="form-row form-group-sm">
                            <label class="form-label"><span th:text="#{'menuRoleMgmt.accessAuthName'}">접근 권한 명</span> <i class="fa fa-asterisk text-danger"></i></label>
                            <input id="txtUpdMenuRoleName" name="menuRoleName" type="text" class="form-control" maxlength="30"/>
                        </div>
                        <div class="form-row form-group-sm">
                            <table id="tblMenuRoleDtl" class="table table-bordered table-striped table-width100" width="100%">
                                <thead>
                                <tr>
                                    <th rowspan="2" th:text="#{'common.label.menuName'}">메뉴 명</th>
                                    <th rowspan="2" th:text="#{'common.label.add'}">추가</th>
                                    <th colspan="2" th:text="#{'menuRoleMgmt.accessAuth'}">접근권한</th>
                                    <th rowspan="2" >
                                        <span th:text="#{'menuRoleMgmt.importantInfo'}">중요정보</span><br>
                                        <span th:text="#{'menuRoleMgmt.readingAvail'}">열람여부</span></th>
                                    <th rowspan="2" >
                                        <span th:text="#{'menuRoleMgmt.dowdnload'}">다운로드</span><br>
                                        <span th:text="#{'menuRoleMgmt.avail'}">가능여부</span>
                                    </th>
                                </tr>
                                <tr>
                                    <th th:text="#{'common.label.all'}">전체</th>
                                    <th th:text="#{'menuRoleMgmt.readOnly'}">읽기전용</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="form-row form-group-sm">
                            <label class="form-label"><span th:text="#{'common.label.availability'}">사용 여부</span></label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="useFlag" th:value="${T(com.sbank.admin.common.constants.GlobalConstants).USEFLAG_Y}" />
                                    <span th:text="#{'common.label.useFlag.y'}">사용</span>
                                </label>
                                <label>
                                    <input type="radio" name="useFlag" th:value="${T(com.sbank.admin.common.constants.GlobalConstants).USEFLAG_N}" />
                                    <span th:text="#{'common.label.useFlag.n'}">미사용</span>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="pull-right">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" th:text="#{'common.label.cancel'}">취소</button>
                        <button type="button" class="btn btn-danger btn-sm auth-all" id="btnEditMenuRoleModal" th:text="#{'common.label.save'}">저장</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END EDIT MODAL AREA -->
</th:block>
<th:block layout:fragment="customJS">
    <!-- BEGIN CORE JS -->
    <script th:inline="javascript">
        /*<![CDATA[*/

        var _objMenuRoleTable;
        var _objMenuRoleTableDtl;
        var _strMenuPath = /*[[${T(com.sbank.admin.common.constants.PathConstants).PATH_CONTROLLER_MENU_ROLE}]]*/ '/menuAuthority/menuRole';

        $(function() {
            fnSetValidate();
            fnInitEvent();
            fnSearchMenuRole();
        });

        /**------------------------------------------------------------
         * Form Validate
         ------------------------------------------------------------*/
        var fnSetValidate = function() {
            var arrValidate = {
                FORMID: "frmEditMenuRole",
                VARIABLE: {
                    menuRoleName: { required: true, maxlength: 30 }
                }
            };

            COMMON.Utils.fnSetValidate(arrValidate);
        };

        /**------------------------------------------------------------
         * Event
         ------------------------------------------------------------*/
        var fnInitEvent = function() {
            $("#btnRegistMenuRole").on("click", fnClickRegistMenuRole);
            $("#tbMenuRole").on("click", ".btnEditMenuRole", fnClickModifyMenuRoleWork);
            $("#tblMenuRoleDtl").on("click", ".checkboxAllRole", fnClickAccessRole);
            $("#tblMenuRoleDtl").on("click", ".checkboxReadRole", fnClickAccessRole);
            $("#tblMenuRoleDtl").on("click", ".checkboxCIRole", fnClickOtherRole);
            $("#tblMenuRoleDtl").on("click", ".checkboxDnRole", fnClickOtherRole);
            $("#tblMenuRoleDtl").on("click", ".btnAddRole", fnClickAddRole);
            $("#btnEditMenuRoleModal").on("click", fnClickModifyMenuRole);
        };

        /**------------------------------------------------------------
         * 메뉴 역할 등록 Form Clear
         ------------------------------------------------------------*/
        var fnRegMenuRoleFormClear = function() {
            var parent = $('.form-group');
            var span = parent.children('span');

            parent.removeClass('has-success').removeClass('has-error');
            span.remove();

            $("#txtUpdMenuRoleName").val("");
            $("#tblMenuRoleDtl").find("input[type='checkbox']").prop("checked", false);
        };

        /**------------------------------------------------------------
         * 메뉴 역할 조회
         ------------------------------------------------------------*/
        function fnSearchMenuRole() {
            if(typeof _objMenuRoleTable == "undefined") {
                _objMenuRoleTable = COMMON.Ajax.CreateDataTable("#tbMenuRole", false, {
                    url: _strMenuPath + '/selectMenuRoleList',
                    data: function() {},
                    columns: [
                        {"data": "menuRoleName", "class": "td-center"},
                        {"data": "adminID",      "class": "td-center"},
                        {"data": "useFlag",      "class": "td-center", "render": COMMON.Utils.fnRenderFlag},
                        {"data": "regDate",      "class": "td-center"},
                        {"data": "updDate",      "class": "td-center"},
                        {"data": null,           "class": "td-center", "render": fnRenderWork},
                    ],
                    columnDefs: [
                        {
                            "targets": [5],
                            "visible": COMMON.Auth.fnCheckHasAuth(/*[[${#request.getAttribute('authCode')}]]*/'', AUTHCODE.ALL)
                        }
                    ],
                    ordering: false,
                    paging: false,
                    dom: "rt"
                });
            } else {
                _objMenuRoleTable.clearPipeline();
                _objMenuRoleTable.ajax.reload();
            }
        };

        /**------------------------------------------------------------
         * 메뉴 역할 리스트 수정 버튼 Render
         ------------------------------------------------------------*/
        var fnRenderWork = function(data) {
            return "<button type='button' data-toggle='modal' data-target='#divEditMenuRole' data-menuroleno='" + data.menuRoleNo + "' data-menurolename='" + data.menuRoleName + "' data-useflag='" + data.useFlag + "' class='btn btn-primary btn-xs auth-all btnEditMenuRole'><i class='fa fa-edit'></i></button>";
        };

        /**------------------------------------------------------------
         * 메뉴 역할 등록 메뉴 리스트 조회
         ------------------------------------------------------------*/
        var fnCreateDetailTable = function() {
            if(typeof _objMenuRoleTableDtl == "undefined") {
                _objMenuRoleTableDtl = COMMON.Ajax.CreateDataTable("#tblMenuRoleDtl", false, {
                    url: _strMenuPath + '/selectMenuRoleDtlList',
                    data: function() {
                        var objParam = {};
                        objParam["menuRoleNo"] = $("#hidMenuRoleNo").val();
                        return objParam;
                    },
                    columns: [
                        {"data": null, "class": "td-left col-md-4", "render": fnRenderMenuName},
                        {"data": null, "class": "td-center",        "render": fnRenderAddCheckbox},
                        {"data": null, "class": "td-center",        "render": fnRenderAllCheckbox},
                        {"data": null, "class": "td-center",        "render": fnRenderReadCheckbox},
                        {"data": null, "class": "td-center",        "render": fnRenderCICheckbox},
                        {"data": null, "class": "td-center",        "render": fnRenderDLCheckbox}
                    ],
                    lengthChange: false,
                    displayLength: -1,
                    ordering: false,
                    paging: false,
                    dom: "rt"
                });
            } else {
                _objMenuRoleTableDtl.clearPipeline();
                _objMenuRoleTableDtl.ajax.reload();
            }
        };

        /**------------------------------------------------------------
         * 메뉴 역할 등록 메뉴 명 Render
         ------------------------------------------------------------*/
        var fnRenderMenuName = function(data) {
            if(data.depth === 1) {
                return "<label>" + data.menuName + '</label>';
            } else {
                if(data.useFlag) {
                    return "<span>&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;" + data.menuName + '</span>';
                } else {
                    return "<span>&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;" + data.menuName + "&nbsp<font color='red'>(미사용)</font></span>";
                }
            }
        };

        /**------------------------------------------------------------
         * 메뉴 역할 추가 체크 박스 Render
         ------------------------------------------------------------*/
        var fnRenderAddCheckbox = function(data) {
            var strHtml = "";
            strHtml += "<a href='javascript:;' class='btnAddRole' data-menugroupno='" + data.menuGroupNo + "' data-menuno='" + data.menuNo + "'>";
            strHtml += "<i class='fa fa-plus'></i></a>";

            return strHtml;
        };

        /**------------------------------------------------------------
         * 메뉴 역할 등록 전체 체크 박스 Render
         ------------------------------------------------------------*/
        var fnRenderAllCheckbox = function(data) {
            var checkboxID = "cbAll_" + data.menuGroupNo + "_" + data.menuNo;
            var isCheck = (data.authCode === 1) ? "checked" : "";

            var strHtml = "";

            if(data.menuNo === 0) {
                strHtml += "<a href='javascript:;' class='checkboxAllRole' data-menugroupno='" + data.menuGroupNo + "' data-menuno='" + data.menuNo + "'>";
                strHtml += "<i class='fa fa-plus'></i></a>";
            } else {
                strHtml += "<div class='checkbox check-primary'>";
                strHtml += "<input type='checkbox' id='" + checkboxID + "' class='checkboxAllRole' data-menugroupno='" + data.menuGroupNo + "' data-menuno='" + data.menuNo + "' " + isCheck + "/>";
                strHtml += "<label for='" + checkboxID + "'></label>";
                strHtml += "</div>";
            }

            return strHtml;
        };

        /**------------------------------------------------------------
         * 메뉴 역할 등록 읽기 체크 박스 Render
         ------------------------------------------------------------*/
        var fnRenderReadCheckbox = function(data) {
            var checkboxID = "cbRead_" + data.menuGroupNo + "_" + data.menuNo;
            var isCheck = (data.authCode === 2) ? "checked" : "";

            var strHtml = "";

            if(data.menuNo === 0) {
                strHtml += "<a href='javascript:;' class='checkboxReadRole' data-menugroupno='" + data.menuGroupNo + "' data-menuno='" + data.menuNo + "'>";
                strHtml += "<i class='fa fa-plus'></i></a>";
            } else {
                strHtml += "<div class='checkbox check-warning'>";
                strHtml += "<input type='checkbox' id='" + checkboxID + "' class='checkboxReadRole' data-menugroupno='" + data.menuGroupNo + "' data-menuno='" + data.menuNo + "' " + isCheck + "/>";
                strHtml += "<label for='" + checkboxID + "'></label>";
                strHtml += "</div>";
            }

            return strHtml;
        };

        /**------------------------------------------------------------
         * 메뉴 역할 등록 중요정보 열람여부 체크 박스 Render
         ------------------------------------------------------------*/
        var fnRenderCICheckbox = function(data) {
            var checkboxID = "cbCI_" + data.menuGroupNo + "_" + data.menuNo;
            var isCheck = data.ciReadFlag ? "checked" : "";

            var strHtml = "";

            if(data.menuNo === 0) {
                strHtml += "<a href='javascript:;' class='checkboxCIRole' data-menugroupno='" + data.menuGroupNo + "' data-menuno='" + data.menuNo + "'>";
                strHtml += "<i class='fa fa-plus'></i></a>";
            } else {
                strHtml += "<div class='checkbox check-info'>";
                strHtml += "<input type='checkbox' id='" + checkboxID + "' class='checkboxCIRole' data-menugroupno='" + data.menuGroupNo + "' data-menuno='" + data.menuNo + "' " + isCheck + "/>";
                strHtml += "<label for='" + checkboxID + "'></label>";
                strHtml += "</div>";
            }

            return strHtml;
        };

        /**------------------------------------------------------------
         * 메뉴 역할 등록 다운로드 가능여부 체크 박스 Render
         ------------------------------------------------------------*/
        var fnRenderDLCheckbox = function(data) {
            var checkboxID = "cbDL_" + data.menuGroupNo + "_" + data.menuNo;
            var isCheck = data.dnAvailFlag ? "checked" : "";

            var strHtml = "";

            if(data.menuNo === 0) {
                strHtml += "<a href='javascript:;' class='checkboxDnRole' data-menugroupno='" + data.menuGroupNo + "' data-menuno='" + data.menuNo + "'>";
                strHtml += "<i class='fa fa-plus'></i></a>";
            } else {
                strHtml += "<div class='checkbox check-info'>";
                strHtml += "<input type='checkbox' id='" + checkboxID + "' class='checkboxDnRole' data-menugroupno='" + data.menuGroupNo + "' data-menuno='" + data.menuNo + "' " + isCheck + "/>";
                strHtml += "<label for='" + checkboxID + "'></label>";
                strHtml += "</div>";
            }

            return strHtml;
        };

        /**------------------------------------------------------------
         * 메뉴 역할 신규 등록 이벤트
         ------------------------------------------------------------*/
        var fnClickRegistMenuRole = function() {
            fnRegMenuRoleFormClear();

            $("#hidMenuRoleNo").val("0");
            $("#txtUpdMenuRoleName").val("");
            $("input[name='useFlag'][value='true']").prop("checked", true);
            $("#myModalInsertMenuRole").show();
            $("#myModalUpdateMenuRole").hide();
            $("#iconRegist").show();
            $("#iconEdit").hide();

            fnCreateDetailTable();
        };

        /**------------------------------------------------------------
         * 메뉴 역할 수정(작업) 이벤트
         ------------------------------------------------------------*/
        var fnClickModifyMenuRoleWork = function(event) {
            fnRegMenuRoleFormClear();

            var $this = $(event.currentTarget);

            var menuRoleNo = $this.data("menuroleno");
            var menuRoleName = $this.data("menurolename");
            var intMenuRoleUseFlag = $this.data("useflag");

            $("#divMerAuthType").hide();
            $("#myModalInsertMenuRole").hide();
            $("#myModalUpdateMenuRole").show();

            $("#hidMenuRoleNo").val(menuRoleNo);
            $("#txtUpdMenuRoleName").val(menuRoleName);
            $("input[name='useFlag'][value='{0}']".format(intMenuRoleUseFlag)).prop("checked", true);

            $("#iconRegist").hide();
            $("#iconEdit").show();

            fnCreateDetailTable();

            event.preventDefault();
        };

        /**------------------------------------------------------------
         * 전체/읽기 checkbox 이벤트
         ------------------------------------------------------------*/
        var fnClickAccessRole = function(event) {
            var $this = $(event.currentTarget);
            var strSelectClass = "." + event.currentTarget.className;
            var strOtherClass = (event.currentTarget.className === "checkboxAllRole") ? ".checkboxReadRole" : ".checkboxAllRole";
            var isAllChecked = true;

            // 대 메뉴
            if($this.data("menuno") === 0) {
                $('#tblMenuRoleDtl').find("input" + strSelectClass + "[data-menugroupno='" + $this.data("menugroupno") + "']").each(function() {
                    if(!$(this).prop("checked")) {
                        isAllChecked = false;
                        return false;
                    }
                });

                $('#tblMenuRoleDtl').find("input" + strSelectClass + "[data-menugroupno='" + $this.data("menugroupno") + "']").prop("checked", !isAllChecked);
                $('#tblMenuRoleDtl').find("input" + strOtherClass + "[data-menugroupno='" + $this.data("menugroupno") + "']").prop("checked", false);
            } else {
                $('#tblMenuRoleDtl').find(strOtherClass + "[data-menuno='" + $this.data("menuno") + "']").prop("checked", false);
            }
        };

        /**------------------------------------------------------------
         * CI/DL checkbox 이벤트
         ------------------------------------------------------------*/
        var fnClickOtherRole = function(event) {
            var $this = $(event.currentTarget);
            var strSelectClass = "." + event.currentTarget.className;
            var isAllChecked = true;

            // 대 메뉴
            if($this.data("menuno") === 0) {
                $('#tblMenuRoleDtl').find("input" + strSelectClass + "[data-menugroupno='" + $this.data("menugroupno") + "']").each(function() {
                    if(!$(this).prop("checked")) {
                        isAllChecked = false;
                        return false;
                    }
                });
                $('#tblMenuRoleDtl').find("input" + strSelectClass + "[data-menugroupno='" + $this.data("menugroupno") + "']").prop("checked", !isAllChecked);
            }
        };

        /**------------------------------------------------------------
         * 추가 버튼 이벤트
         ------------------------------------------------------------*/
        var fnClickAddRole = function(event) {
            var $this = $(event.currentTarget);
            var isAllChecked = true;

            if($this.data("menuno") === 0) {
                $('#tblMenuRoleDtl').find("input:not(.checkboxReadRole)[data-menugroupno='" + $this.data("menugroupno") + "']").each(function() {
                    if(!$(this).prop("checked")) {
                        isAllChecked = false;
                        return false;
                    }
                });

                $('#tblMenuRoleDtl').find("input[data-menugroupno='" + $this.data("menugroupno") + "']").prop("checked", !isAllChecked);
                $('#tblMenuRoleDtl').find(".checkboxReadRole[data-menugroupno='" + $this.data("menugroupno") + "']").prop("checked", false);

            } else {
                $('#tblMenuRoleDtl').find("input:not(.checkboxReadRole)[data-menuno='" + $this.data("menuno") + "']").each(function() {
                    if(!$(this).prop("checked")) {
                        isAllChecked = false;
                        return false;
                    }
                });

                $('#tblMenuRoleDtl').find("input[data-menuno='" + $this.data("menuno") + "']").prop("checked", !isAllChecked);
                $('#tblMenuRoleDtl').find(".checkboxReadRole[data-menuno='" + $this.data("menuno") + "']").prop("checked", false);
            }
        };

        /**------------------------------------------------------------
         * 역할 등록/수정 버튼(모달)
         ------------------------------------------------------------*/
        var fnClickModifyMenuRole = function() {
            var intChkCnt = 0;
            var arrMenuRoleDtlList = [];

            if(!$("#frmEditMenuRole").valid()) {
                return;
            }

            $("#tblMenuRoleDtl").find("input[type=checkbox]").each(function() {
                if(this.checked) {
                    intChkCnt++;
                }
            });

            if(intChkCnt <= 0) {
                var strAlertMsg = /*[[#{'menuRoleMgmt.msgSelectMenu'}]]*/ '메뉴를 선택해 주십시오.';
                COMMON.Msg.fnAlertWithModal(strAlertMsg, "divEditMenuRole", true);
                return false;
            }

            $("#tblMenuRoleDtl").find("tbody tr").each(function() {
                // 메뉴 그룹 row 패스
                var $this = $(this);
                var menuNo = $this.find(".checkboxAllRole").data("menuno");
                if(menuNo === 0) {
                    return true;
                }

                var authCode;
                var isALlRole = $this.find(".checkboxAllRole").prop("checked");
                var isReadRole = $this.find(".checkboxReadRole").prop("checked");
                var isCIFlag = $this.find(".checkboxCIRole").prop("checked");
                var isDnFlag = $this.find(".checkboxDnRole").prop("checked");

                if(!isALlRole && !isReadRole && !isCIFlag && !isDnFlag) {
                    return true;
                }

                if(isALlRole) {
                    authCode = 1;
                } else if(isReadRole) {
                    authCode = 2;
                } else {
                    authCode = 99;
                }

                var objMenuRoleDtl = {};
                var adminNo = /*[[${#request.getAttribute('adminNo')}]]*/ '1234'; //관리자 번호
                objMenuRoleDtl["menuRoleNo"] = $("#hidMenuRoleNo").val();
                objMenuRoleDtl["menuNo"] = menuNo;
                objMenuRoleDtl["authCode"] = authCode;
                objMenuRoleDtl["ciReadFlag"] = isCIFlag;
                objMenuRoleDtl["dnAvailFlag"] = isDnFlag;
                objMenuRoleDtl["adminNo"] = adminNo;

                arrMenuRoleDtlList.push(objMenuRoleDtl);
            });

            var strSuccessMsg = /*[[#{'common.msg.success'}]]*/ '작업이 완료되었습니다.';
            var strErrorMsg   = /*[[#{'common.msg.failed'}]]*/ '작업이 실패하었습니다.';

            var obj = {
                requestData: {
                    menuRoleNo  : $("#hidMenuRoleNo").val(),
                    menuRoleName: $('#txtUpdMenuRoleName').val(),
                    useFlag     : $("input[name='useFlag']:checked").val(),
                    menuRoleList: arrMenuRoleDtlList
                },
                strCallUrl    : _strMenuPath + "/mergeMenuRole",
                strCallBack   : "fnUpdateMenuRoleRet",
                isModalMsg    : true,
                strSuccessMsg : strSuccessMsg,
                strErrorMsg   : strErrorMsg
            };

            COMMON.Ajax.fnRequest(obj);
        };

        /**------------------------------------------------------------
         * 역할 등록/수정 결과
         ------------------------------------------------------------*/
        function fnUpdateMenuRoleRet(objJson) {
            $('#divEditMenuRole').modal("hide");

            if(objJson.intRetCode === 0) {
                fnSearchMenuRole();
            }
        }
        /*]]>*/
    </script>
    <!-- END CORE JS -->
</th:block>
</html>