<!------------------------------------------------------------------------
# Author : payletter
# Desc   : 기본 헤더 영역
# Date   : 2018.09.28
#------------------------------------------------------------------------>

<html xmlns:th="http://www.thymeleaf.org">
    <!-- BEGIN HEADER -->
    <header th:fragment="headerFragment" class="main-header">
        <!-- Logo -->
        <a href="/" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>S.A</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>SBANK</b> Admin</span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- User Account Menu -->
                    <li class="dropdown user user-menu">
                        <!-- Menu Toggle Button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <!-- hidden-xs hides the username on small devices so only the image appears. -->
                            <i class="fa fa-gears"></i>
                            <span class="hidden-xs" th:text="${#request.getAttribute('adminID')}"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- The user image in the menu -->
                            <li class="user-header">
                                <p>
                                    <th:block th:text="${#request.getAttribute('adminID')}"></th:block>
                                    <br/>
                                    <small>
                                        <th:block th:text="#{'login.lastAccessDate'} + ' : '"></th:block>
                                        <th:block th:text="${#request.getAttribute('lastLoginDate')}"></th:block>
                                    </small>
                                    <small>
                                        <th:block th:text="#{'login.lastIP'} + ' : '"></th:block>
                                        <th:block th:text="${#request.getAttribute('lastLoginIP')}"></th:block>
                                    </small>
                                </p>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a id="aChangePassword" href="javascript:;" th:text="#{'common.label.changePassword'}" class="btn btn-default btn-sm btn-flat">비밀번호 변경</a>
                                </div>
                                <div class="pull-right">
                                    <a id="aLogout" href="javascript:;" th:text="#{'common.label.logout'}" class="btn btn-default btn-sm btn-flat">로그아웃</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- END HEADER -->
</html>