<!------------------------------------------------------------------------
# Author : payletter
# Desc   : 공통 모달 영역
# Date   : 2018.09.28
#------------------------------------------------------------------------>

<html xmlns:th="http://www.thymeleaf.org">
    <!-- BEGIN SIDEBAR -->
    <th:block th:fragment="modalFragment">
        <!-- BEGIN MODAL -->
        <button id="btnModalMsg" data-toggle="modal" data-target="#alertModal" style="width:0px; height:0px; display:none;"></button>
        <div class="modal fade" id="alertModal" data-backdrop="static">
            <div class="modal-dialog modal-xs">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" id="btnAlertModalTop" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <i id="alertModalIcon" class="fa fa-warning fa-2x"></i>
                        <h5 id="modalMsg" class="basic-align-center"></h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnAlertModalBottom" class="btn btn-default btn-sm" data-dismiss="modal" th:text="#{'common.label.close'}">닫기</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MODAL -->

        <!-- BEGIN MODAL EX -->
        <button id="btnModalMsgEx" data-toggle="modal" data-target="#alertModalEx" style="width:0px; height:0px; display:none;"></button>
        <div class="modal fade" id="alertModalEx" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" id="btnAlertModalTopEx" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <i class="fa fa-warning fa-2x"></i>
                        <h5 id="modalMsgEx" class="basic-align-center"></h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnAlertModalBottomEx" class="btn btn-default" data-dismiss="modal" th:text="#{'common.label.close'}">닫기</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MODAL EX -->

        <!-- BEGIN MODAL -->
        <button id="btnModalMsgMul" data-toggle="modal" data-target="#alertModalMul" style="width:0px; height:0px; display:none;"></button>
        <div class="modal fade" id="alertModalMul" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" id="btnAlertModalTopMul" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <i class="fa fa-warning fa-2x"></i>
                        <h5 id="modalMsgMul" class="basic-align-center"></h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm" id="btnAlertModalBottomMul" data-dismiss="modal" th:text="#{'common.label.close'}" onclick="eval(strAlertCallBack)();">닫기</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MODAL -->

        <!-- BEGIN CONFIRM MODAL -->
        <button id="btnModalConfirm" data-toggle="modal" data-target="#confirmModal" style="width:0px; height:0px; display:none;"></button>
        <div class="modal" id="confirmModal" data-backdrop="static">
            <div class="modal-dialog modal-xs">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" id="btnConfirmModalTop" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <i class="fa fa-exclamation fa-2x"></i>
                        <h5 id="modalConfirm" class="basic-align-center"></h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm" id="btnConfirmModalBottm" data-dismiss="modal" th:text="#{'common.label.cancel'}">취소</button>
                        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" th:text="#{'common.label.confirm'}" onclick="eval(strAlertCallBack)();">확인</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- END CONFIRM MODAL -->

        <!-- BEGIN CHANGE PASSWORD MODAL -->
        <button id="btnModalPwdChange" data-toggle="modal" data-target="#pwdChangeModal" style="width:0px; height:0px; display:none;"></button>
        <div class="modal" id="pwdChangeModal" data-backdrop="static">
            <div class="modal-dialog modal-sm">
                <form id="frmPwdChange">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h5 class="modal-title">
                                <i class="fa fa-unlock-alt">&nbsp;</i>
                                <th:block th:text="#{'login.changePwd'}">비밀번호 변경</th:block>
                            </h5>
                        </div>
                        <div class="modal-body">
                            <div class="form-group has-feedback">
                                <input class="form-control" type="password" id="inpCurrPwd" name="currPwd" th:placeholder="#{'login.msgInputCurrPwd'}" style="font-family: Arial;" maxlength="20">
                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <input class="form-control" type="password" id="inpNewPwd" name="newPwd" th:placeholder="#{'login.msgInputNewPwd'}" style="font-family: Arial;" maxlength="20">
                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <input class="form-control" type="password" id="inpReNewPwd" name="reNewPwd" th:placeholder="#{'login.msgInputReNewPwd'}" style="font-family: Arial;" maxlength="20">
                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" onclick="COMMON.Utils.fnFrmReset('frmpw');" th:text="#{'common.label.cancel'}">취소</button>
                            <button type="button" class="btn btn-danger btn-sm" id="btnChangePwd" th:text="#{'common.label.save'}">저장</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- END CHANGE PASSWORD MODAL -->

        <!-- BEGIN AJAX LOADER -->
        <div id="divPageBlock" style="display:none;">
            <img th:src="${@environment.getProperty('static.url') + '/htdocs/dist/img/loading.gif'}">
        </div>
        <!-- END AJAX LOADER -->
    </th:block>
</html>